<div class="col-lg-6 col-md-12 center gap-2 mb-3">
    <div class="card shadow">
        <div id="tower_box">
            <h2 id="towerHeader" class="text-center">Registered Towers (0)</h2>
            <!-- Select/Deselect All Buttons -->
            <div class="d-flex justify-content-center mb-2">
                <button id="selectAllBtn" class="btn btn-primary btn-sm mx-1">Select All</button>
                <button id="deselectAllBtn" class="btn btn-danger btn-sm mx-1">Deselect All</button>
            </div>
            <!-- Scrollable List -->
            <div class="overflow-auto" id="towerInfo"></div>
        </div>
    </div>
</div>
